<?xml version="1.0" ?>


<launch>
	<node pkg="tm_rrt" type="tm_rrt" name="tm_rrt" output="screen" >
		<!-- JRAS case3.2 -->
		 <param name="domain_file" type="string" value="domain_2c4p (anomaly2.1).prolog" /> 

		<!-- TM-RRT -->
		 <param name="planner_type" type="string" value="tm_rrt" /> 
		<!-- BFS+RRT -->
		<!-- <param name="planner_type" type="string" value="bfs_rrt" /> -->
		
		<param name="number_of_runs" type="int" value="1" />
		
		<param name="w_b" type="double" value="1.0" />
		<param name="w_t" type="double" value="5.0" />
		<param name="path_len" type="double" value="0.9" />
		
		<param name="p_s" type="double" value="0.3" />
		<param name="p_c" type="double" value="0.3" />
	</node>
</launch>
